* {
  box-sizing: border-box;
  max-height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

input:focus, input:visited {
  outline:0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin:0;
  color: #C9DBF2;
  background-color: #4A678C;
}

header {
  margin-top: 20px;
  height:64px;
  margin-bottom: 44px;
}

body > header > div > div {
  padding-top: 8vh;
}

.horizontal_dotted_line { 
  border-bottom: 5px dotted #C9DBF2;
  position: absolute;
  left: 0;
  top: 20vh; 
  width: 65%;
} 

.row {
  max-width: 1000px;
  margin: 0 auto;
}

.row::after {
  clear: both;
}

.column {
  float: left;
  width: 100%;
}

/* GENERAL TYPOGRAPHY */
header h1 {
  font-family: 'Alegreya SC', serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .13em;
  font-stretch: extra-expanded;
  line-height: .85;
  text-align: center;
}

h1 span{
  font-size: .8em;
  display: list-item;
  list-style:none;
  padding-bottom: 1vh;
  padding-top: 1vh;
}

h2 {
  color: #012a74;
  font-size: 1.5em;
  font-family: 'Alegreya SC', serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .13em;
  font-stretch: extra-expanded;
  line-height: 1.5;
  text-align: center;
  margin-top: 10vh;
}

/* START PAGE */

.move-up {
  margin-top: -10vh;
}

.graphic-for-start {
  opacity: .9;
}

.start-page p {
  margin-bottom: 5vh;
  letter-spacing: .05em;
  line-height: 1.5em;
  font-size: 1.1em;
  opacity: .7;
}

.start-page,
.button-container {
  text-align: center;
}

/* QUESTION PAGES */
.question-number{
  font-family: 'EB Garamond', serif;
  font-weight: 700;
  font-size: 4.8em;
  letter-spacing: .05em;
  text-align: center;
  margin: 5vh 0 3vh;
}

/*camera graphic*/
.graphic-artwork {
  text-align:center;
  opacity: .7;
  margin: 0 auto;
}

.score {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: .7em;
  letter-spacing: .1em;
  text-align: center;
  margin-top: 3vh;
  opacity: .7;
  color: #C9DBF2;
}

/*question and options container */
fieldset {
  width:90%;
  padding: 0 20px 50px;
  margin: 0 auto;
  border: none;
}

.question-and-score ul {
  text-align:center;
  padding-left: 2%;
  padding-right: 2%;
}

.question-and-score li {
  display: inline-block;
  padding:0 2%;
}

/*question */
legend {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.5em;
  letter-spacing: .07em;
  margin: 3vh 0;
}

.question-form .question {
  margin-bottom: 20px;
  padding: 0 2%;
  font-size: 1em;
  font-weight: 600px;
}

/*multiple choice options */
.js-options {
  line-height: 2.5em;
  letter-spacing: .1em;
  margin-left: 5%;
}

.options ul {
  list-style: none;
  margin:0;
  text-align:left;
}

/*multiple choice options only -- doesn't include radio button */
label {
  font-size:.9em;
  display: block;
}

/* RIGHT ANSWER, WRONG ANSWER, RESTART PAGE */
.options span {
  display:block;
  border-radius:5px;
}

#js-restart-quiz {
  border-radius:5px;
}

.right-answer, .wrong-answer, #js-restart-quiz {
 background:#C9DBF2; 
 height: 94vh;
 width: 90%;
 z-index: 1000;
 position: absolute;
 top: 0;
 left: 2%;
 padding: 10px 20px;
 margin: 2% 3%;
 border:2px solid #1044a0;
 text-align: center;
}

.answer-img, .restart-img {
  margin-top: 16vh;
  margin-left: -1%;
  text-align: center;
  opacity: .8;
}

.quiz-score{
  font-family: 'EB Garamond', serif;
  font-weight: 700;
  font-size: 4.8em;
  letter-spacing: .05em;
  text-align: center;
  margin: 5vh 0 3vh;
  color:#012a74; 
  font-size: 4.8em;
  margin: 0
  background-color:red;
}

#percent {
  font-size: .75em;
}

.answer-p, .restart-p {
  color: #012a74;
  margin-top: -2vh;
  margin-bottom: 2vh;
  letter-spacing: .18em;
  line-height: 1.5em;
  font-size: 1.1em;
}

.restart-h2{
  margin: 0;
}

/* BUTTONS */

.radio-input {
  margin-right: 14px;
  margin-left: 30px;
  background-color: #4A678C 
}

.question-form button {
  text-align: center;
}

#button-container {
  text-align: center;
}

button {
  margin-top:4vh;
  height: auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: .8em;
  letter-spacing: .15em;
  text-align: center;
  color:#C9DBF2;
  background: rgba(0,0,0,0);
  border: 0;
  margin-bottom: 0;
  border: solid 1px #C9DBF2;
  border-radius:3px;
  padding: 10px 20px;
}

button:hover:enabled,
button:focus:enabled {
  cursor: pointer;
  background-color: #C9DBF2;
  color:#4A678C;
  border:2px solid #758EBF;
  -webkit-transition: background 0.1s;
  -moz-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s;
}

button#next-question {
    margin-top:4vh;
    height: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: .8em;
    letter-spacing: .15em;
    text-align: center;
    color:#012a74;
    background: rgba(0,0,0,0);
    border: 0;
    margin-bottom: 0;
    border: solid 1px #012a74;
    border-radius:3px;
    padding: 10px 20px;
}

button#next-question:hover,
button#next-question:focus {
  cursor: pointer;
  margin-top:4vh;
  height: auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: .8em;
  letter-spacing: .15em;
  text-align: center;
  color:#C9DBF2;
  background:#4A678C;
  border: 0;
  margin-bottom: 0;
  border: solid 1px #C9DBF2;
  border-radius:3px;
  padding: 10px 20px;
}

button#restart {
  margin-top:4vh;
  height: auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: .8em;
  letter-spacing: .15em;
  text-align: center;
  color:#012a74;
  background: rgba(0,0,0,0);
  border: 0;
  margin-bottom: 0;
  border: solid 1px #012a74;
  border-radius:3px;
  padding: 10px 20px;
}

button#restart:hover,
button#restart:focus {
  cursor: pointer;
  margin-top:4vh;
  height: auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: .8em;
  letter-spacing: .15em;
  text-align: center;
  color:#C9DBF2;
  background:#4A678C;
  border: 0;
  cursor: pointer;
  margin-bottom: 0;
  border: solid 1px #C9DBF2;
  border-radius:3px;
  padding: 10px 20px;
}

button:disabled {
  opacity:0.5;
}


@media only screen and (min-width: 640px) {
  .column {
    width: 100%;
  }
}

@media only screen and (max-height: 750px) {
  .horizontal_dotted_line{
    top: 18.4vh;
  }
}

