/* Color Theme Swatches in Hex */
.微信图片_20191008100511-1-hex { color: #758EBF; }
.微信图片_20191008100511-2-hex { color: #4A678C; }
.微信图片_20191008100511-3-hex { color: #7E9ABF; }
.微信图片_20191008100511-4-hex { color: #C9DBF2; }
.微信图片_20191008100511-5-hex { color: #E9EEF2; }

/* Color Theme Swatches in RGBA */
.微信图片_20191008100511-1-rgba { color: rgba(117, 142, 191, 1); }
.微信图片_20191008100511-2-rgba { color: rgba(74, 103, 140, 1); }
.微信图片_20191008100511-3-rgba { color: rgba(126, 154, 191, 1); }
.微信图片_20191008100511-4-rgba { color: rgba(201, 219, 242, 1); }
.微信图片_20191008100511-5-rgba { color: rgba(233, 238, 242, 1); }

/* Color Theme Swatches in HSLA */
.微信图片_20191008100511-1-hsla { color: hsla(219, 36, 60, 1); }
.微信图片_20191008100511-2-hsla { color: hsla(213, 30, 41, 1); }
.微信图片_20191008100511-3-hsla { color: hsla(214, 33, 62, 1); }
.微信图片_20191008100511-4-hsla { color: hsla(213, 61, 86, 1); }
.微信图片_20191008100511-5-hsla { color: hsla(206, 25, 93, 1); }